/* misc */
/* variables */
/* normalize */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  min-height: 100vh; }

body {
  display: grid;
  grid-template-columns: 9% 82% 9%;
  min-height: 100vh;
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #111111; }

svg {
  color: #111111; }

input {
  font-family: "Inter", sans-serif; }

/* mixins */
/* maps */
.size-xs {
  font-size: 1.2em; }

.size-sm {
  font-size: 1.4em; }

.size-md {
  font-size: 1.6em; }

.size-xl {
  font-size: 1.8em; }

.size-xxl {
  font-size: 2em; }

.size-xxxl {
  font-size: 2.2em; }

.weight-xs {
  font-weight: 200; }

.weight-sm {
  font-weight: 400; }

.weight-md {
  font-weight: 500; }

.weight-xl {
  font-weight: 600; }

.weight-xxl {
  font-weight: 700; }

.weight-xxxl {
  font-weight: 900; }

/* partials */
/* header */
header {
  grid-column: 1 / 4;
  min-height: auto; }
  header .top-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    min-height: auto;
    background-color: #fcfafa;
    border-bottom: 1px solid #f7f7f7; }
    header .top-bar-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 45px;
      position: relative;
      z-index: 2;
      width: 82%;
      min-height: 5vh;
      background-color: #fcfafa; }
      header .top-bar-wrapper-search-sliderdown {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px 15px;
        cursor: pointer; }
        header .top-bar-wrapper-search-sliderdown:hover .top-bar-wrapper-search-sliderdown-container {
          display: flex; }
        header .top-bar-wrapper-search-sliderdown:hover svg {
          color: #1b1b1b; }
        header .top-bar-wrapper-search-sliderdown svg {
          color: #c0c0c0;
          transition: 0.2s ease-in-out; }
        header .top-bar-wrapper-search-sliderdown-container {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 55px;
          width: 235px;
          border-radius: 2px;
          background-color: #ffffff;
          display: none;
          position: absolute;
          z-index: 1;
          margin: 95px 0 0 -200px;
          transition: 0.1s ease-in-out;
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.05); }
          header .top-bar-wrapper-search-sliderdown-container form input {
            height: 33px;
            width: 210px;
            border: 1px solid #f7f7f7;
            border-radius: 50px;
            padding: 0 15px;
            font-size: 1.2em;
            color: #c0c0c0; }
            header .top-bar-wrapper-search-sliderdown-container form input:focus {
              outline: none; }
      header .top-bar-wrapper-social {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px; }
        header .top-bar-wrapper-social a {
          display: flex;
          flex-direction: row;
          align-items: center; }
          header .top-bar-wrapper-social a #twitter-icon {
            color: #c0c0c0;
            transition: 0.2s ease-in-out; }
            header .top-bar-wrapper-social a #twitter-icon:hover {
              color: #00adcc; }
          header .top-bar-wrapper-social a #youtube-icon {
            color: #c0c0c0;
            transition: 0.2s ease-in-out; }
            header .top-bar-wrapper-social a #youtube-icon:hover {
              color: #b90000; }
  header .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; }
    header .nav-bar picture {
      padding: 25px 0 20px 0; }
    header .nav-bar-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex-wrap: wrap; }
      header .nav-bar-list .active::after {
        content: "";
        position: absolute;
        margin: 30px 0 0 0;
        width: 20px;
        height: 2px;
        background-color: #133891; }
      header .nav-bar-list a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3px;
        padding: 8px 20px;
        font-size: 1.4em;
        font-weight: 500; }

/* views */
