/* header */

/* here starts the header for desktop */

header {
    @include flex(row, center, null, null, null);
    grid-column: 1 / 4;
    height: auto;
    background-color: $white;
    border-bottom: 1px solid $grayB;
    .nav-bar {
        @include flex(row, space-between, center, null, null);
        width: 86%;
        height: 86px;
        background-color: $white;
        picture img {
            height: 64px;
        }
        &__list {
            @include flex(row, center, center, 1.6rem, null);
            margin: 7px 0;
            &-item {
                height: auto;
                &:hover .uni {
                    display: block;
                }
                &:hover .careers {
                    display: block;
                }
                &__link {
                    padding: 9px 12px;
                    font-size: map-get($sizes, sm);
                    font-weight: map-get($weights, sm);
                    border-radius: 4px;
                    transition: 0.2s ease-in-out;
                    &:hover {
                        background-color: $gray;
                    }
                }
                .sub-menu {
                    position: absolute;
                    display: none;
                    margin: 10px 0 0 0;
                    height: auto;
                    background-color: $white;
                    border: 1px solid $gray;
                    border-radius: 4px;
                    &::before {
                        position: absolute;
                        content:"";
                        height: 10px;
                        width: 102px;
                        top: -11px;
                    }
                    &__item {
                        height: auto;
                        &-link {
                            @include flex(row, null, center, 1rem, null);
                            margin: 8px;
                            padding: 16px 18px;
                            font-size: map-get($sizes, sm);
                            font-weight: map-get($weights, sm);
                            border-radius: 4px;
                            transition: 0.2s ease-in-out;
                            &:hover {
                                background-color: $gray;
                            }
                            svg {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }
        &__login {
            @include flex(row, center, center, null, null);
            a {
                padding: 7px 16px;
                font-size: map-get($sizes, xs);
                font-weight: map-get($weights, sm);
                border-radius: 50px;
                color: $white;
                background-color: $blue;
                transition: 0.2s ease-in-out;
                &:hover {
                    background-color: $secondaryBlack;
                }
            }
            
        }
    }
}

/* here ends the header for desktop */

/* here starts the responsive header */

.header-responsive {
    @extend header;
    display: none;
    .nav-bar__responsive {
        @include flex(row, center, center, null, null);
        width: 86%;
        height: auto;
        background-color: $white;
        &-list {
            @include flex(row, center, center, 1.2rem, wrap);
            margin: 5px 0;
            &__item {
                @extend .nav-bar__list-item__link;
            }
        }
    }
}

/* here ends the responsive header */

/* media queries */

@media (max-width: 992px) {
    .nav-bar__list {
        display: none !important;
        background: red;
    }
    .header-responsive {
        display: flex;
    }
    .nav-bar picture img {
        height: 55px;
    }
}

@media (max-width: 576px) {
    .nav-bar__responsive-list__item {
        font-size: map-get($sizes, xs);
    }
}