/* variables */

$principalFont: "Inter", sans-serif;
$secondaryFont: "Roboto", sans-serif;
$principalBlack: #000000;
$secondaryBlack: #151515;
$tertiaryBlack: #646464;
$white: #ffffff;
$gray: #f7f7f7;
$darkGray: #b9b9b9;
$darkGrayB: #eeeeee;
$grayB: #e8f5ff;
$alternativeBlue: #eff4ff;
$blue: #0056ff;
$lightBlue: #f4f9fd;
$orange: #f0a51b;
$lightOrange: #ffecca;
$bgOrange: #fff8ea;
$red: #e72a2a;
$bgRed: #fcf0f0;
$lightRed: #ffe4e4;
$borderRed: #ffebeb;
$pink: #a21a5b;
$bgPink: #ffeff7;
$lightPink: #ffdaeb;
$skyBlue: #00a4db;
$skyLightBlue: #cbf2ff;
$skyBgBlue: #e2f8ff;
$green: #17da65;
$darkGreen: #16bd58;
$shadow: rgba(53, 53, 53, 0.15);