/* misc */
/* variables */
/* normalize */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
  overflow-x: hidden; }

body {
  display: grid;
  grid-template-columns: 7% 86% 7%;
  width: 100%;
  background-color: #f4f9fd;
  overflow-x: hidden;
  overflow-y: hidden;
  text-rendering: optimizeLegibility; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  display: inline-block;
  color: #151515; }

svg {
  color: #151515;
  transition: 0.2s ease-in-out; }

input {
  font-family: "Inter", sans-serif; }

::selection {
  color: #ffffff;
  background-color: #0056ff; }

/* mixins */
/* maps */
.size-xs {
  font-size: 1.2em; }

.size-sm {
  font-size: 1.4em; }

.size-md {
  font-size: 1.6em; }

.size-xl {
  font-size: 1.8em; }

.size-xxl {
  font-size: 2em; }

.size-xxxl {
  font-size: 2.2em; }

.size-h1 {
  font-size: 6.8em; }

.size-h1-rp {
  font-size: 5em; }

.size-h1-rp2 {
  font-size: 3.4em; }

.size-h1-rp3 {
  font-size: 3em; }

.size-h2 {
  font-size: 3.8em; }

.weight-xs {
  font-weight: 200; }

.weight-sm {
  font-weight: 400; }

.weight-md {
  font-weight: 500; }

.weight-xl {
  font-weight: 600; }

.weight-xxl {
  font-weight: 700; }

.weight-xxxl {
  font-weight: 900; }

/* partials */
/* header */
/* here starts the header for desktop */
header, .header-responsive, .header__red, .header__pink, .header__orange, .header__sky-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1 / 4;
  height: auto;
  background-color: #ffffff;
  border-bottom: 1px solid #e8f5ff; }
  header .nav-bar, .header-responsive .nav-bar, .header__red .nav-bar, .header__pink .nav-bar, .header__orange .nav-bar, .header__sky-blue .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    height: 86px;
    background-color: #ffffff; }
    header .nav-bar picture img, .header-responsive .nav-bar picture img, .header__red .nav-bar picture img, .header__pink .nav-bar picture img, .header__orange .nav-bar picture img, .header__sky-blue .nav-bar picture img {
      height: 64px; }
    header .nav-bar__list, .header-responsive .nav-bar__list, .header__red .nav-bar__list, .header__pink .nav-bar__list, .header__orange .nav-bar__list, .header__sky-blue .nav-bar__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
      margin: 7px 0; }
      header .nav-bar__list-item, .header-responsive .nav-bar__list-item, .header__red .nav-bar__list-item, .header__pink .nav-bar__list-item, .header__orange .nav-bar__list-item, .header__sky-blue .nav-bar__list-item {
        height: auto; }
        header .nav-bar__list-item:hover .uni, .header-responsive .nav-bar__list-item:hover .uni, .header__red .nav-bar__list-item:hover .uni, .header__pink .nav-bar__list-item:hover .uni, .header__orange .nav-bar__list-item:hover .uni, .header__sky-blue .nav-bar__list-item:hover .uni {
          display: block; }
        header .nav-bar__list-item:hover .careers, .header-responsive .nav-bar__list-item:hover .careers, .header__red .nav-bar__list-item:hover .careers, .header__pink .nav-bar__list-item:hover .careers, .header__orange .nav-bar__list-item:hover .careers, .header__sky-blue .nav-bar__list-item:hover .careers {
          display: block; }
        header .nav-bar__list-item__link, .header-responsive .nav-bar__list-item__link, .header__red .nav-bar__list-item__link, .header__pink .nav-bar__list-item__link, .header__orange .nav-bar__list-item__link, .header__sky-blue .nav-bar__list-item__link, .header-responsive .nav-bar__responsive-list__item {
          padding: 9px 12px;
          font-size: 1.4em;
          font-weight: 400;
          border-radius: 4px;
          transition: 0.2s ease-in-out; }
          header .nav-bar__list-item__link:hover, .header-responsive .nav-bar__list-item__link:hover, .header__red .nav-bar__list-item__link:hover, .header__pink .nav-bar__list-item__link:hover, .header__orange .nav-bar__list-item__link:hover, .header__sky-blue .nav-bar__list-item__link:hover, .header-responsive .nav-bar__responsive-list__item:hover {
            background-color: #f7f7f7; }
        header .nav-bar__list-item .sub-menu, .header-responsive .nav-bar__list-item .sub-menu, .header__red .nav-bar__list-item .sub-menu, .header__pink .nav-bar__list-item .sub-menu, .header__orange .nav-bar__list-item .sub-menu, .header__sky-blue .nav-bar__list-item .sub-menu {
          position: absolute;
          display: none;
          margin: 10px 0 0 0;
          height: auto;
          background-color: #ffffff;
          border: 1px solid #f7f7f7;
          border-radius: 4px; }
          header .nav-bar__list-item .sub-menu::before, .header-responsive .nav-bar__list-item .sub-menu::before, .header__red .nav-bar__list-item .sub-menu::before, .header__pink .nav-bar__list-item .sub-menu::before, .header__orange .nav-bar__list-item .sub-menu::before, .header__sky-blue .nav-bar__list-item .sub-menu::before {
            position: absolute;
            content: "";
            height: 10px;
            width: 102px;
            top: -11px; }
          header .nav-bar__list-item .sub-menu__item, .header-responsive .nav-bar__list-item .sub-menu__item, .header__red .nav-bar__list-item .sub-menu__item, .header__pink .nav-bar__list-item .sub-menu__item, .header__orange .nav-bar__list-item .sub-menu__item, .header__sky-blue .nav-bar__list-item .sub-menu__item {
            height: auto; }
            header .nav-bar__list-item .sub-menu__item-link, .header-responsive .nav-bar__list-item .sub-menu__item-link, .header__red .nav-bar__list-item .sub-menu__item-link, .header__pink .nav-bar__list-item .sub-menu__item-link, .header__orange .nav-bar__list-item .sub-menu__item-link, .header__sky-blue .nav-bar__list-item .sub-menu__item-link {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 1rem;
              margin: 8px;
              padding: 16px 18px;
              font-size: 1.4em;
              font-weight: 400;
              border-radius: 4px;
              transition: 0.2s ease-in-out; }
              header .nav-bar__list-item .sub-menu__item-link:hover, .header-responsive .nav-bar__list-item .sub-menu__item-link:hover, .header__red .nav-bar__list-item .sub-menu__item-link:hover, .header__pink .nav-bar__list-item .sub-menu__item-link:hover, .header__orange .nav-bar__list-item .sub-menu__item-link:hover, .header__sky-blue .nav-bar__list-item .sub-menu__item-link:hover {
                background-color: #f7f7f7; }
              header .nav-bar__list-item .sub-menu__item-link svg, .header-responsive .nav-bar__list-item .sub-menu__item-link svg, .header__red .nav-bar__list-item .sub-menu__item-link svg, .header__pink .nav-bar__list-item .sub-menu__item-link svg, .header__orange .nav-bar__list-item .sub-menu__item-link svg, .header__sky-blue .nav-bar__list-item .sub-menu__item-link svg {
                color: #0056ff; }
    header .nav-bar__login, .header-responsive .nav-bar__login, .header__red .nav-bar__login, .header__pink .nav-bar__login, .header__orange .nav-bar__login, .header__sky-blue .nav-bar__login {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
      header .nav-bar__login a, .header-responsive .nav-bar__login a, .header__red .nav-bar__login a, .header__pink .nav-bar__login a, .header__orange .nav-bar__login a, .header__sky-blue .nav-bar__login a {
        padding: 7px 16px;
        font-size: 1.2em;
        font-weight: 400;
        border-radius: 50px;
        color: #ffffff;
        background-color: #0056ff;
        transition: 0.2s ease-in-out; }
        header .nav-bar__login a:hover, .header-responsive .nav-bar__login a:hover, .header__red .nav-bar__login a:hover, .header__pink .nav-bar__login a:hover, .header__orange .nav-bar__login a:hover, .header__sky-blue .nav-bar__login a:hover {
          background-color: #151515; }

/* here ends the header for desktop */
/* here starts the responsive header */
.header-responsive {
  display: none; }
  .header-responsive .nav-bar__responsive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 86%;
    height: auto;
    background-color: #ffffff; }
    .header-responsive .nav-bar__responsive-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1.2rem;
      flex-wrap: wrap;
      margin: 5px 0; }

/* here ends the responsive header */
/* media queries */
@media (max-width: 992px) {
  .nav-bar__list {
    display: none !important;
    background: red; }
  .header-responsive {
    display: flex; }
  .nav-bar picture img {
    height: 55px; } }

@media (max-width: 576px) {
  .nav-bar__responsive-list__item {
    font-size: 1.2em; } }

/* footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1 / 4;
  margin: 70px 0 0 0;
  height: auto;
  background-color: #ffffff;
  border-top: 1px solid #e8f5ff; }
  footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    height: auto; }
    footer .footer-container__info {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1.2rem;
      padding: 10px 0;
      height: auto;
      width: auto; }
      footer .footer-container__info picture img {
        height: 50px; }
      footer .footer-container__info p {
        padding: 5px 0 0 0;
        font-weight: 500; }
      footer .footer-container__info a {
        transition: 0.2s ease-in-out; }
        footer .footer-container__info a:hover {
          text-decoration: underline; }
    footer .footer-container__social {
      display: flex;
      flex-direction: row;
      gap: 1.2rem;
      padding: 20px 0; }
      footer .footer-container__social svg {
        color: #151515;
        transition: 0.2s ease-in-out; }
        footer .footer-container__social svg:hover {
          color: #0056ff; }

/* media queries */
@media (max-width: 992px) {
  .footer-container .footer-container__info {
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
    width: 200px; } }

/* views */
/* index */
/* here starts the index */
.presentation, .numbers, .join {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1 / 4;
  margin: 70px 0 0 0;
  height: auto; }
  .presentation-container {
    display: flex;
    flex-direction: column;
    width: 86%;
    height: auto; }
    .presentation-container__top {
      height: auto;
      width: 100%; }
      .presentation-container__top h1 {
        font-family: "Roboto", sans-serif;
        font-size: 6.8em;
        font-weight: 500;
        color: #151515; }
        .presentation-container__top h1 span {
          color: #0056ff; }
    .presentation-container__bottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 40px 0 0 0;
      height: auto;
      width: 100%; }
      .presentation-container__bottom-desc {
        width: 400px;
        height: auto; }
        .presentation-container__bottom-desc p {
          width: 300px;
          font-size: 1.6em; }
        .presentation-container__bottom-desc a {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1rem;
          margin: 25px 0 0 0;
          font-size: 1.4em;
          font-weight: 500; }
          .presentation-container__bottom-desc a:hover svg {
            transform: rotate(0deg); }
          .presentation-container__bottom-desc a:hover span {
            background-color: #151515; }
          .presentation-container__bottom-desc a span {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background-color: #0056ff;
            border-radius: 50px;
            transition: 0.2s ease-in-out; }
            .presentation-container__bottom-desc a span svg {
              color: #ffffff;
              transform: rotate(-45deg);
              transition: 0.2s ease-in-out; }
      .presentation-container__bottom picture {
        display: block;
        margin: 5px 0 0 0;
        width: auto;
        height: auto; }
        .presentation-container__bottom picture img {
          width: 100%;
          border-radius: 6px;
          box-shadow: 1px 1px 10px rgba(53, 53, 53, 0.15); }

/* article 1 media queries */
@media (max-width: 992px) {
  .presentation .presentation-container__top h1, .numbers .presentation-container__top h1, .join .presentation-container__top h1 {
    font-size: 5em; }
  .presentation-container__bottom {
    flex-direction: column;
    justify-content: null; }
    .presentation-container__bottom picture {
      margin: 40px 0 0 0; }
      .presentation-container__bottom picture img {
        width: 100%; } }

@media (max-width: 576px) {
  .presentation .presentation-container__top h1, .numbers .presentation-container__top h1, .join .presentation-container__top h1 {
    font-size: 3.4em; }
  .presentation-container__bottom .presentation-container__bottom-desc p {
    font-size: 1.4em; }
  .presentation-container__bottom .presentation-container__bottom-desc a {
    font-size: 1.4em; }
    .presentation-container__bottom .presentation-container__bottom-desc a span {
      padding: 4px; } }

@media (max-width: 375px) {
  .presentation .presentation-container__top h1, .numbers .presentation-container__top h1, .join .presentation-container__top h1 {
    font-size: 3em; } }

/* finish */
.numbers, .join {
  margin: 100px 0;
  height: auto; }
  .numbers-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    height: auto; }
    .numbers-container__block {
      display: flex;
      flex-direction: column;
      width: 310px;
      height: auto; }
      .numbers-container__block-top {
        padding: 0 0 20px 0;
        font-size: 5em;
        font-weight: 600;
        color: #0056ff; }
      .numbers-container__block-center {
        font-size: 2em;
        font-weight: 400;
        color: #151515; }
      .numbers-container__block-bottom {
        padding: 15px 0 0 0;
        font-size: 1.6em;
        font-weight: 400;
        color: #151515; }

/* article 2 media queries */
@media (max-width: 992px) {
  .numbers, .join {
    margin: 30px 0 0 0; }
    .numbers-container {
      flex-direction: column;
      justify-content: null;
      align-items: start; }
      .numbers-container__block {
        margin: 0 0 20px 0; }
        .numbers-container__block-top {
          font-size: 5em;
          padding: 40px 0 0 0; }
        .numbers-container__block-center {
          font-size: 1.8em;
          padding: 15px 0 0 0; }
        .numbers-container__block-bottom {
          padding: 15px 0; } }

@media (max-width: 576px) {
  .numbers-container__block {
    margin: 0 0 5px 0; }
  .numbers-container__block-top {
    font-size: 3.4em; }
  .numbers-container__block-center {
    font-size: 1.6em; }
  .numbers-container__block-bottom {
    font-size: 1.4em; } }

/* finish */
.join {
  margin: 30px 0 0 0; }
  .join-container {
    width: 86%;
    height: auto; }
    .join-container a {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
      transition: 0.2s ease-in-out; }
      .join-container a:hover svg {
        transform: rotate(0deg);
        color: #151515; }
      .join-container a:hover span {
        text-decoration: underline;
        text-decoration-color: #0056ff; }
      .join-container a h2 {
        font-size: 5em;
        color: #151515; }
      .join-container a svg {
        margin: 5px 0 0 0;
        color: #0056ff;
        transform: rotate(-45deg); }

/* article 3 media queries */
@media (max-width: 1220px) {
  .join-container a h2 {
    font-size: 3.4em; } }

@media (max-width: 867px) {
  .join-container a h2 {
    font-size: 3em; } }

@media (max-width: 780px) {
  .join-container a h2 {
    font-size: 2.2em; }
  .join-container a svg {
    height: 60px; } }

/* finish */
/* universidad */
.breadcrumb, .university, .careers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1 / 4;
  height: auto; }
  .breadcrumb__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
    margin: 20px 0 0px 0;
    width: 86%;
    height: auto; }
    .breadcrumb__content p, .breadcrumb__content a {
      font-size: 1.2em; }
    .breadcrumb__content p {
      color: #b9b9b9;
      cursor: no-drop; }
    .breadcrumb__content a {
      color: #151515; }

.university__content, .careers__content {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 0;
  width: 86%;
  min-height: 53vh; }
  .university__content h1, .careers__content h1 {
    margin: 0 0 20px;
    font-size: 5em;
    font-family: "Roboto", sans-serif;
    color: #0056ff; }
  .university__content__section, .careers__content__section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    width: 170px;
    margin: 0 0 10px 0;
    padding: 10px 12px;
    font-size: 1.4em;
    font-weight: 400;
    border-radius: 4px;
    transition: 0.2s ease-in-out; }
    .university__content__section:hover, .careers__content__section:hover {
      background-color: #eeeeee; }
    .university__content__section svg, .careers__content__section svg {
      color: #0056ff; }

/* finish */
/* media queries */
@media (max-width: 576px) {
  .university .university__content h1, .careers .university__content h1, .university .careers__content h1, .careers .careers__content h1 {
    font-size: 3.4em; } }

/* somos */
.we-are {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1 / 4;
  height: auto; }
  .we-are__content {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
    width: 86%;
    height: auto; }
    .we-are__content h1 {
      font-size: 5em;
      font-family: "Roboto", sans-serif;
      color: #0056ff; }
    .we-are__content__president {
      display: flex;
      flex-direction: column;
      margin: 40px 0 0 0; }
      .we-are__content__president__profile {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem; }
        .we-are__content__president__profile img {
          height: 62px;
          width: 62px;
          object-fit: cover;
          border-radius: 50px;
          box-shadow: 1px 1px 5px rgba(53, 53, 53, 0.15); }
        .we-are__content__president__profile__name {
          display: flex;
          flex-direction: column;
          gap: 0.5rem; }
          .we-are__content__president__profile__name .name {
            font-size: 1.6em;
            font-weight: 500;
            color: #151515; }
          .we-are__content__president__profile__name p {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.4em;
            color: #b9b9b9; }
            .we-are__content__president__profile__name p svg {
              margin: 1px 0 0 0;
              color: #0056ff; }
    .we-are__content__read {
      display: flex;
      flex-direction: column;
      margin: 25px 0;
      width: 50%;
      height: auto; }
      .we-are__content__read p {
        margin: 0 0 15px 0;
        font-size: 1.4em;
        color: #151515; }
        .we-are__content__read p b {
          color: #646464; }
    .we-are__content__share, .history__content__share {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem; }
      .we-are__content__share p, .history__content__share p {
        font-size: 1.4em; }
      .we-are__content__share svg, .history__content__share svg {
        color: #0056ff;
        transition: 0.2s ease-in-out; }
        .we-are__content__share svg:hover, .history__content__share svg:hover {
          color: #151515; }

/* finish */
/* media queries */
@media (max-width: 992px) {
  .we-are__content__read {
    width: 70%; } }

@media (max-width: 576px) {
  .we-are__content h1 {
    font-size: 3.4em; }
  .we-are__content__read {
    width: 100%; }
    .we-are__content__read p {
      font-size: 1.4em; } }

/* historia */
.history, .authorities, .postulations, .advocacy, .economy, .industrial, .medicine, .computing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0 0 0;
  grid-column: 1 / 4;
  height: auto; }
  .history__content {
    display: flex;
    flex-direction: column;
    width: 86%;
    height: auto; }
    .history__content::before {
      content: "";
      position: absolute;
      margin: 100px 0 0 20px;
      height: 2440px;
      width: 2px;
      background-color: #0056ff; }
    .history__content h1 {
      margin: 0 0 25px 0;
      font-size: 5em;
      font-family: "Roboto", sans-serif;
      color: #0056ff; }
    .history__content__wrapper {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      margin: 0 0 25px 0;
      width: 100%;
      height: auto; }
      .history__content__wrapper__year {
        position: relative;
        z-index: 1; }
        .history__content__wrapper__year p {
          padding: 3px;
          font-size: 1.6em;
          font-weight: 500;
          color: #151515;
          background-color: #f4f9fd; }
      .history__content__wrapper__desc {
        margin: 1px 0 0 0;
        width: 50%; }
        .history__content__wrapper__desc p {
          margin: 0 0 10px 0;
          font-size: 1.4em; }

/* finish */
/* media queries */
@media (max-width: 1280px) {
  .history__content::before {
    display: none; }
  .history__content__wrapper__year p {
    color: #0056ff; } }

@media (max-width: 992px) {
  .history__content__wrapper__desc {
    width: 100%; } }

@media (max-width: 576px) {
  .history__content h1 {
    font-size: 3.4em; } }

/* autoridades */
.authorities__content {
  display: flex;
  flex-direction: column;
  width: 86%;
  height: auto; }
  .authorities__content h1 {
    font-size: 5em;
    font-family: "Roboto", sans-serif;
    color: #0056ff; }
  .authorities__content h2 {
    margin: 30px 0 15px 0;
    font-size: 2.2em;
    color: #151515; }
  .authorities__content__committee {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    border-left: 2px solid #0056ff;
    background-color: #e8f5ff; }
    .authorities__content__committee__profile {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      width: 352px;
      height: auto;
      margin: 15px; }
      .authorities__content__committee__profile img {
        height: 80px;
        width: 80px;
        border-radius: 50px; }
      .authorities__content__committee__profile__name {
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .authorities__content__committee__profile__name .name {
          font-size: 1.6em;
          color: #151515; }
        .authorities__content__committee__profile__name p {
          font-size: 1.4em;
          color: #b9b9b9; }

/* finish */
/* media queries */
@media (max-width: 576px) {
  .authorities__content h2 {
    font-size: 2em; }
  .authorities__content h1 {
    font-size: 3.4em; } }

/* postulaciones */
.postulations__content, .advocacy__content, .economy__content, .industrial__content, .medicine__content, .computing__content {
  display: flex;
  flex-direction: column;
  width: 86%;
  height: auto; }
  .postulations__content h1, .advocacy__content h1, .economy__content h1, .industrial__content h1, .medicine__content h1, .computing__content h1 {
    font-size: 5em;
    font-family: "Roboto", sans-serif;
    color: #0056ff; }
  .postulations__content__search {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 320px;
    border: 1px solid #eeeeee;
    border-radius: 50px;
    background-color: transparent;
    margin: 30px 0 0 0; }
    .postulations__content__search span {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px 8px; }
      .postulations__content__search span svg {
        color: #0056ff; }
    .postulations__content__search form {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .postulations__content__search form input {
        width: 270px;
        border: none;
        background-color: transparent;
        outline: none;
        padding: 5px 0px 5px 0px;
        font-family: inherit;
        color: #151515; }
  .postulations__content h2, .advocacy__content h2, .economy__content h2, .industrial__content h2, .medicine__content h2, .computing__content h2 {
    margin: 30px 0 0 0;
    font-size: 1.6em; }
  .postulations__content__jobs {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin: 15px 0 0 0;
    width: 100%;
    height: auto; }
    .postulations__content__jobs__card {
      display: flex;
      flex-direction: column;
      width: 215px;
      padding: 15px;
      background-color: #e8f5ff;
      border-top: 2px solid #0056ff;
      border-radius: 2px;
      transition: 0.2s ease-in-out; }
      .postulations__content__jobs__card:hover {
        box-shadow: 1px 1px 5px rgba(53, 53, 53, 0.15); }
      .postulations__content__jobs__card__modality {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.3rem;
        font-size: 1.2em; }
      .postulations__content__jobs__card h3 {
        margin: 15px 0 0 0;
        font-size: 1.6em;
        font-weight: 400;
        color: #151515; }
      .postulations__content__jobs__card__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        margin: 25px 0 0 0; }
        .postulations__content__jobs__card__bottom p {
          margin: 0 0 1px 0;
          color: #b9b9b9; }
        .postulations__content__jobs__card__bottom a {
          padding: 5px 12px;
          font-size: 1.2em;
          font-weight: 400;
          border-radius: 50px;
          color: #ffffff;
          background-color: #0056ff;
          transition: 0.2s ease-in-out; }
          .postulations__content__jobs__card__bottom a:hover {
            background-color: #151515; }

/* media queries */
@media (max-width: 576px) {
  .postulations__content h1, .advocacy__content h1, .economy__content h1, .industrial__content h1, .medicine__content h1, .computing__content h1 {
    font-size: 3.4em; } }

@media (max-width: 512px) {
  .postulations__content__jobs__card {
    width: 100%; } }

/* carreras */
.careers__content__section {
  width: 220px; }

/* historia */
.history, .authorities, .postulations, .advocacy, .economy, .industrial, .medicine, .computing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 40px 0 0 0;
  grid-column: 1 / 4;
  height: auto; }
  .history__content {
    display: flex;
    flex-direction: column;
    width: 86%;
    height: auto; }
    .history__content::before {
      content: "";
      position: absolute;
      margin: 100px 0 0 20px;
      height: 2440px;
      width: 2px;
      background-color: #0056ff; }
    .history__content h1 {
      margin: 0 0 25px 0;
      font-size: 5em;
      font-family: "Roboto", sans-serif;
      color: #0056ff; }
    .history__content__wrapper {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      margin: 0 0 25px 0;
      width: 100%;
      height: auto; }
      .history__content__wrapper__year {
        position: relative;
        z-index: 1; }
        .history__content__wrapper__year p {
          padding: 3px;
          font-size: 1.6em;
          font-weight: 500;
          color: #151515;
          background-color: #f4f9fd; }
      .history__content__wrapper__desc {
        margin: 1px 0 0 0;
        width: 50%; }
        .history__content__wrapper__desc p {
          margin: 0 0 10px 0;
          font-size: 1.4em; }

/* finish */
/* media queries */
@media (max-width: 1280px) {
  .history__content::before {
    display: none; }
  .history__content__wrapper__year p {
    color: #0056ff; } }

@media (max-width: 992px) {
  .history__content__wrapper__desc {
    width: 100%; } }

@media (max-width: 576px) {
  .history__content h1 {
    font-size: 3.4em; } }

/* abogacia */
/* background */
.red {
  background-color: #fcf0f0; }

/* header */
.header__red {
  border-bottom: 1px solid #ffebeb; }

.nav-bar__login__red {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .nav-bar__login__red a {
    padding: 7px 16px;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 50px;
    color: #ffffff;
    background-color: #e72a2a;
    transition: 0.2s ease-in-out; }
    .nav-bar__login__red a:hover {
      background-color: #151515; }

/* main */
.advocacy__content h2 {
  font-size: 1.8em; }

.advocacy__content h1 {
  margin: 2px 0 0 25px;
  color: #e72a2a; }

.advocacy__content__profile, .advocacy__content__differential, .advocacy__content__join, .economy__content__differential, .economy__content__join, .industrial__content__differential, .industrial__content__join, .medicine__content__differential, .medicine__content__join, .computing__content__differential, .computing__content__join {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px 0 0 0; }
  .advocacy__content__profile span, .advocacy__content__differential span, .advocacy__content__join span, .economy__content__differential span, .economy__content__join span, .industrial__content__differential span, .industrial__content__join span, .medicine__content__differential span, .medicine__content__join span, .computing__content__differential span, .computing__content__join span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
    border-left: 3px solid #e72a2a; }
    .advocacy__content__profile span h3, .advocacy__content__differential span h3, .advocacy__content__join span h3, .economy__content__differential span h3, .economy__content__join span h3, .industrial__content__differential span h3, .industrial__content__join span h3, .medicine__content__differential span h3, .medicine__content__join span h3, .computing__content__differential span h3, .computing__content__join span h3 {
      font-size: 1.6em; }
  .advocacy__content__profile p, .advocacy__content__differential p, .advocacy__content__join p, .economy__content__differential p, .economy__content__join p, .industrial__content__differential p, .industrial__content__join p, .medicine__content__differential p, .medicine__content__join p, .computing__content__differential p, .computing__content__join p {
    margin: 0 0 10px 0;
    font-size: 1.4em; }
  .advocacy__content__profile__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 25px 0 0 0; }
    .advocacy__content__profile__options a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.6em;
      transition: 0.2s ease-in-out; }
      .advocacy__content__profile__options a:hover svg {
        color: #e72a2a; }

.advocacy__content__differential {
  width: auto; }
  .advocacy__content__differential__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 15px 0 0 0; }
    .advocacy__content__differential__wrapper__card {
      display: flex;
      flex-direction: column;
      width: 320px;
      padding: 15px 15px 10px 15px;
      border: 1px solid #e72a2a;
      border-radius: 2px;
      transition: 0.2s ease-in-out; }
      .advocacy__content__differential__wrapper__card:hover {
        box-shadow: 2px 2px 5px rgba(53, 53, 53, 0.15); }
      .advocacy__content__differential__wrapper__card h4 {
        margin: 0 0 10px 0;
        font-size: 1.4em;
        font-weight: 500; }

.advocacy__content__join {
  width: 100%; }
  .advocacy__content__join__steps {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: #ffe4e4;
    border-top: 2px solid #e72a2a; }
    .advocacy__content__join__steps p {
      margin: 0 0 10px 0; }
    .advocacy__content__join__steps a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 7px 10px;
      font-size: 1.4em;
      font-weight: 400;
      border-radius: 4px;
      color: #ffffff;
      background-color: #17da65;
      transition: 0.2s ease-in-out;
      width: 215px;
      margin: 10px 0 0 0; }
      .advocacy__content__join__steps a:hover {
        background-color: #16bd58; }
      .advocacy__content__join__steps a svg {
        fill: #ffffff; }

/* finish */
/* media queries */
@media (max-width: 992px) {
  .advocacy__content__profile, .advocacy__content__differential, .advocacy__content__join, .economy__content__differential, .economy__content__join, .industrial__content__differential, .industrial__content__join, .medicine__content__differential, .medicine__content__join, .computing__content__differential, .computing__content__join {
    width: 100%; }
  .advocacy__content__join .advocacy__content__join__steps {
    width: 100%; } }

@media (max-width: 576px) {
  .advocacy__content h2 {
    font-size: 1.6em; } }

/* economia */
/* background */
.pink {
  background-color: #ffeff7; }

/* header */
.header__pink {
  border-bottom: 1px solid #ffdaeb; }

.nav-bar__login__pink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .nav-bar__login__pink a {
    padding: 7px 16px;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 50px;
    color: #ffffff;
    background-color: #a21a5b;
    transition: 0.2s ease-in-out; }
    .nav-bar__login__pink a:hover {
      background-color: #151515; }

/* main */
.economy__content h2 {
  font-size: 1.8em; }

.economy__content h1 {
  margin: 2px 0 0 25px;
  color: #a21a5b; }

.economy__content__profile {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px 0 0 0; }
  .economy__content__profile span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
    border-left: 3px solid #a21a5b; }
    .economy__content__profile span h3 {
      font-size: 1.6em; }
  .economy__content__profile p {
    margin: 0 0 10px 0;
    font-size: 1.4em; }
  .economy__content__profile__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 25px 0 0 0; }
    .economy__content__profile__options a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.6em;
      transition: 0.2s ease-in-out; }
      .economy__content__profile__options a:hover svg {
        color: #a21a5b; }

.economy__content__differential {
  width: auto; }
  .economy__content__differential span {
    border-left: 3px solid #a21a5b; }
  .economy__content__differential__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 15px 0 0 0; }
    .economy__content__differential__wrapper__card {
      display: flex;
      flex-direction: column;
      width: 320px;
      padding: 15px 15px 10px 15px;
      border: 1px solid #a21a5b;
      border-radius: 2px;
      transition: 0.2s ease-in-out; }
      .economy__content__differential__wrapper__card:hover {
        box-shadow: 2px 2px 5px rgba(53, 53, 53, 0.15); }
      .economy__content__differential__wrapper__card h4 {
        margin: 0 0 10px 0;
        font-size: 1.4em;
        font-weight: 500; }

.economy__content__join {
  width: 100%; }
  .economy__content__join span {
    border-left: 3px solid #a21a5b; }
  .economy__content__join__steps {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: #ffdaeb;
    border-top: 2px solid #a21a5b; }
    .economy__content__join__steps span {
      border-left: 2px solid #a21a5b; }
    .economy__content__join__steps p {
      margin: 0 0 10px 0; }
    .economy__content__join__steps a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 7px 10px;
      font-size: 1.4em;
      font-weight: 400;
      border-radius: 4px;
      color: #ffffff;
      background-color: #17da65;
      transition: 0.2s ease-in-out;
      width: 215px;
      margin: 10px 0 0 0; }
      .economy__content__join__steps a:hover {
        background-color: #16bd58; }
      .economy__content__join__steps a svg {
        fill: #ffffff; }

/* finish */
/* media queries */
@media (max-width: 992px) {
  .economy__content__profile {
    width: 100%; }
  .economy__content__join .economy__content__join__steps {
    width: 100%; } }

@media (max-width: 576px) {
  .economy__content h2 {
    font-size: 1.6em; } }

/* economia */
/* background */
.orange {
  background-color: #fff8ea; }

/* header */
.header__orange {
  border-bottom: 1px solid #ffecca; }

.nav-bar__login__orange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .nav-bar__login__orange a {
    padding: 7px 16px;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 50px;
    color: #ffffff;
    background-color: #f0a51b;
    transition: 0.2s ease-in-out; }
    .nav-bar__login__orange a:hover {
      background-color: #151515; }

/* main */
.industrial__content h2 {
  font-size: 1.8em; }

.industrial__content h1 {
  margin: 2px 0 0 25px;
  color: #f0a51b; }

.industrial__content__profile {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px 0 0 0; }
  .industrial__content__profile span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
    border-left: 3px solid #f0a51b; }
    .industrial__content__profile span h3 {
      font-size: 1.6em; }
  .industrial__content__profile p {
    margin: 0 0 10px 0;
    font-size: 1.4em; }
  .industrial__content__profile__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 25px 0 0 0; }
    .industrial__content__profile__options a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.6em;
      transition: 0.2s ease-in-out; }
      .industrial__content__profile__options a:hover svg {
        color: #f0a51b; }

.industrial__content__differential {
  width: auto; }
  .industrial__content__differential span {
    border-left: 3px solid #f0a51b; }
  .industrial__content__differential__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 15px 0 0 0; }
    .industrial__content__differential__wrapper__card {
      display: flex;
      flex-direction: column;
      width: 320px;
      padding: 15px 15px 10px 15px;
      border: 1px solid #f0a51b;
      border-radius: 2px;
      transition: 0.2s ease-in-out; }
      .industrial__content__differential__wrapper__card:hover {
        box-shadow: 2px 2px 5px rgba(53, 53, 53, 0.15); }
      .industrial__content__differential__wrapper__card h4 {
        margin: 0 0 10px 0;
        font-size: 1.4em;
        font-weight: 500; }

.industrial__content__join {
  width: 100%; }
  .industrial__content__join span {
    border-left: 3px solid #f0a51b; }
  .industrial__content__join__steps {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: #ffecca;
    border-top: 2px solid #f0a51b; }
    .industrial__content__join__steps span {
      border-left: 2px solid #a21a5b; }
    .industrial__content__join__steps p {
      margin: 0 0 10px 0; }
    .industrial__content__join__steps a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 7px 10px;
      font-size: 1.4em;
      font-weight: 400;
      border-radius: 4px;
      color: #ffffff;
      background-color: #17da65;
      transition: 0.2s ease-in-out;
      width: 215px;
      margin: 10px 0 0 0; }
      .industrial__content__join__steps a:hover {
        background-color: #16bd58; }
      .industrial__content__join__steps a svg {
        fill: #ffffff; }

/* finish */
/* media queries */
@media (max-width: 992px) {
  .industrial__content__profile {
    width: 100%; }
  .industrial__content__join .industrial__content__join__steps {
    width: 100%; } }

@media (max-width: 576px) {
  .industrial__content h2 {
    font-size: 1.6em; } }

/* economia */
/* background */
.sky-blue {
  background-color: #e2f8ff; }

/* header */
.header__sky-blue {
  border-bottom: 1px solid #cbf2ff; }

.nav-bar__login__sky-blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .nav-bar__login__sky-blue a {
    padding: 7px 16px;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 50px;
    color: #ffffff;
    background-color: #00a4db;
    transition: 0.2s ease-in-out; }
    .nav-bar__login__sky-blue a:hover {
      background-color: #151515; }

/* main */
.medicine__content h2 {
  font-size: 1.8em; }

.medicine__content h1 {
  margin: 2px 0 0 25px;
  color: #00a4db; }

.medicine__content__profile {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px 0 0 0; }
  .medicine__content__profile span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
    border-left: 3px solid #00a4db; }
    .medicine__content__profile span h3 {
      font-size: 1.6em; }
  .medicine__content__profile p {
    margin: 0 0 10px 0;
    font-size: 1.4em; }
  .medicine__content__profile__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 25px 0 0 0; }
    .medicine__content__profile__options a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.6em;
      transition: 0.2s ease-in-out; }
      .medicine__content__profile__options a:hover svg {
        color: #00a4db; }

.medicine__content__differential {
  width: auto; }
  .medicine__content__differential span {
    border-left: 3px solid #00a4db; }
  .medicine__content__differential__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 15px 0 0 0; }
    .medicine__content__differential__wrapper__card {
      display: flex;
      flex-direction: column;
      width: 320px;
      padding: 15px 15px 10px 15px;
      border: 1px solid #00a4db;
      border-radius: 2px;
      transition: 0.2s ease-in-out; }
      .medicine__content__differential__wrapper__card:hover {
        box-shadow: 2px 2px 5px rgba(53, 53, 53, 0.15); }
      .medicine__content__differential__wrapper__card h4 {
        margin: 0 0 10px 0;
        font-size: 1.4em;
        font-weight: 500; }

.medicine__content__join {
  width: 100%; }
  .medicine__content__join span {
    border-left: 3px solid #00a4db; }
  .medicine__content__join__steps {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: #cbf2ff;
    border-top: 2px solid #00a4db; }
    .medicine__content__join__steps span {
      border-left: 2px solid #00a4db; }
    .medicine__content__join__steps p {
      margin: 0 0 10px 0; }
    .medicine__content__join__steps a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 7px 10px;
      font-size: 1.4em;
      font-weight: 400;
      border-radius: 4px;
      color: #ffffff;
      background-color: #17da65;
      transition: 0.2s ease-in-out;
      width: 215px;
      margin: 10px 0 0 0; }
      .medicine__content__join__steps a:hover {
        background-color: #16bd58; }
      .medicine__content__join__steps a svg {
        fill: #ffffff; }

/* finish */
/* media queries */
@media (max-width: 992px) {
  .medicine__content__profile {
    width: 100%; }
  .medicine__content__join .medicine__content__join__steps {
    width: 100%; } }

@media (max-width: 576px) {
  .medicine__content h2 {
    font-size: 1.6em; } }

/* economia */
/* background */
.orange {
  background-color: #fff8ea; }

/* header */
.header__orange {
  border-bottom: 1px solid #ffecca; }

.nav-bar__login__orange {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .nav-bar__login__orange a {
    padding: 7px 16px;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 50px;
    color: #ffffff;
    background-color: #f0a51b;
    transition: 0.2s ease-in-out; }
    .nav-bar__login__orange a:hover {
      background-color: #151515; }

/* main */
.computing__content h2 {
  font-size: 1.8em; }

.computing__content h1 {
  margin: 2px 0 0 25px;
  color: #f0a51b; }

.computing__content__profile {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 40px 0 0 0; }
  .computing__content__profile span {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 0 0 15px;
    border-left: 3px solid #f0a51b; }
    .computing__content__profile span h3 {
      font-size: 1.6em; }
  .computing__content__profile p {
    margin: 0 0 10px 0;
    font-size: 1.4em; }
  .computing__content__profile__options {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 25px 0 0 0; }
    .computing__content__profile__options a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      font-size: 1.6em;
      transition: 0.2s ease-in-out; }
      .computing__content__profile__options a:hover svg {
        color: #f0a51b; }

.computing__content__differential {
  width: auto; }
  .computing__content__differential span {
    border-left: 3px solid #f0a51b; }
  .computing__content__differential__wrapper {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    flex-wrap: wrap;
    margin: 15px 0 0 0; }
    .computing__content__differential__wrapper__card {
      display: flex;
      flex-direction: column;
      width: 320px;
      padding: 15px 15px 10px 15px;
      border: 1px solid #f0a51b;
      border-radius: 2px;
      transition: 0.2s ease-in-out; }
      .computing__content__differential__wrapper__card:hover {
        box-shadow: 2px 2px 5px rgba(53, 53, 53, 0.15); }
      .computing__content__differential__wrapper__card h4 {
        margin: 0 0 10px 0;
        font-size: 1.4em;
        font-weight: 500; }

.computing__content__join {
  width: 100%; }
  .computing__content__join span {
    border-left: 3px solid #f0a51b; }
  .computing__content__join__steps {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    background-color: #ffecca;
    border-top: 2px solid #f0a51b; }
    .computing__content__join__steps span {
      border-left: 2px solid #a21a5b; }
    .computing__content__join__steps p {
      margin: 0 0 10px 0; }
    .computing__content__join__steps a {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5rem;
      padding: 7px 10px;
      font-size: 1.4em;
      font-weight: 400;
      border-radius: 4px;
      color: #ffffff;
      background-color: #17da65;
      transition: 0.2s ease-in-out;
      width: 215px;
      margin: 10px 0 0 0; }
      .computing__content__join__steps a:hover {
        background-color: #16bd58; }
      .computing__content__join__steps a svg {
        fill: #ffffff; }

/* finish */
/* media queries */
@media (max-width: 992px) {
  .computing__content__profile {
    width: 100%; }
  .computing__content__join .computing__content__join__steps {
    width: 100%; } }

@media (max-width: 576px) {
  .computing__content h2 {
    font-size: 1.6em; } }
