/* variables */

$principalFont: "Inter", sans-serif;
$secondaryFont: "Roboto", sans-serif;
$principalBlack: #000000;
$secondaryBlack: #151515;
$tertiaryBlack: #646464;
$white: #ffffff;
$gray: #f7f7f7;
$darkGray: #b9b9b9;
$darkGrayB: #eeeeee;
$grayB: #e8f5ff;
$alternativeBlue: #eff4ff;
$blue: #0056ff;
$lightBlue: #f4f9fd;
$orange: #f0a51b;
$red: #e72a2a;
$yellow: #f8f535;
$shadow: rgba(53, 53, 53, 0.10);