/* footer */

footer {
    @include flex(row, center, null, null, null);
    grid-column: 1 / 4;
    margin: 70px 0 0 0;
    height: auto;
    background-color: $white;
    border-top: 1px solid $grayB;
    .footer-container {
        @include flex(row, space-between, center, null, null);  
        width: 86%;
        height: auto;
        &__info {
            @include flex(row, null, center, 1.2rem, null);
            padding: 10px 0;
            height: auto;
            width: auto;
            picture img {
                height: 50px;
            }
            p {
                padding: 5px 0 0 0;
                font-weight: map-get($weights, md);
            }
            a {
                transition: 0.2s ease-in-out;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &__social {
            @include flex(row, null, null, 1.2rem, null);
            padding: 20px 0;
            svg {
                color: $secondaryBlack;
                transition: 0.2s ease-in-out;
                &:hover {
                    color: $blue;
                }
            }
        }
    }
}

/* media queries */

@media (max-width: 992px) {
    .footer-container .footer-container__info {
        flex-direction: column;
        align-items: start;
        gap: 0.2rem;
        width: 200px;
    }
}