/* header */

header {
    @include flex(column, null, center, null, null);
    grid-column: 1 / 4;
    .nav-bar {
        @include flex(row, space-between, center, null, wrap);
        width: 86%;
        height: 70px;
        border-bottom: 1px solid $dark-gray;
        picture img {
            height: 52px;
        }
        &-list {
            @include flex(row, null, center, 4em, null);
            li a {
                padding: 28px 0;
                font-size: map-get($sizes, xs);
                color: $white;
                transition: 0.2s ease-in-out;
                &:hover {
                    color: $green;
                }
            }
        }
        &-additional {
            @include flex(row, null, center, 1.8rem, null);
            a {
                padding: 24px 0;
                font-size: map-get($sizes, xs);
                color: $white;
                transition: 0.2s ease-in-out;
                &:hover {
                    color: $dark-gray;
                }
                &:hover svg {
                    color: $dark-gray;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .nav-bar-list {
        justify-content: center;
        width: 100%;
        order: 3;
        border-bottom: 1px solid $dark-gray;
        .hidden {
            display: none;
        }
    }
}