/* index */

/* here starts the index */

.presentation {
    @include flex(row, center, null, null, null);
    grid-column: 1 / 4;
    margin: 70px 0;
    height: auto;
    &-container {
        @include flex(column, null, null, null, null);
        width: 86%;
        &__title {
            height: auto;
            width: 100%;
            h1 {
                font-family: $secondaryFont;
                font-size: map-get($sizes, h1);
                font-weight: map-get($weights, md);
                color: $secondaryBlack;
                span {
                    color: $blue
                }
            }
        }
    }
}

/* here ends the index */