/* index */

/* here starts the index */

.presentation {
    @include flex(row, center, null, null, null);
    grid-column: 1 / 4;
    margin: 70px 0 0 0;
    height: auto;
    &-container {
        @include flex(column, null, null, null, null);
        width: 86%;
        height: auto;
        &__top {
            height: auto;
            width: 100%;
            h1 {
                font-family: $secondaryFont;
                font-size: map-get($sizes, h1);
                font-weight: map-get($weights, md);
                color: $secondaryBlack;
                span {
                    color: $blue
                }
            }
        }
        &__bottom {
            @include flex(row, space-between, null, null, null);
            margin: 40px 0 0 0;
            height: auto;
            width: 100%;
            &-desc {
                width: 400px;
                height: auto;
                p {
                    width: 300px;
                    font-size: map-get($sizes, md);
                }
                a {
                    @include flex(row, null, center, 1rem, null);
                    margin: 25px 0 0 0;
                    font-size: map-get($sizes, sm);
                    font-weight: map-get($weights, md);
                    &:hover svg {
                        transform: rotate(0deg);
                    }
                    &:hover span {
                        background-color: $secondaryBlack;
                    }
                    span {
                        @include flex(row, center, center, null, null);
                        padding: 5px;
                        background-color: $blue;
                        border-radius: 50px;
                        transition: 0.2s ease-in-out;
                        svg {
                            color: $white;
                            transform: rotate(-45deg);
                            transition: 0.2s ease-in-out;
                        }
                    }
                }
            }
            picture {
                display: block;
                margin: 5px 0 0 0;
                width: auto;
                height: auto;
                img {
                    width: 100%;
                    border-radius: 6px;
                    box-shadow: 1px 1px 10px $shadow;
                }
            }
        }
    }
}

/* article 1 media queries */

@media (max-width: 992px) {
    .presentation .presentation-container__top h1 {
        font-size: map-get($sizes, h1-rp);
    }
    .presentation-container__bottom {
        flex-direction: column;
        justify-content: null;
        picture {
            margin: 40px 0 0 0;
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width: 576px) {
    .presentation .presentation-container__top h1 {
        font-size: map-get($sizes, h1-rp2);
    }
    .presentation-container__bottom .presentation-container__bottom-desc {
        p {
            font-size: map-get($sizes, sm);
        }
        a {
            font-size: map-get($sizes, sm);
            span {
                padding: 4px;
            }
        }
        
    }
}

@media (max-width: 375px) {
    .presentation .presentation-container__top h1 {
        font-size: map-get($sizes, h1-rp3);
    }
}

/* finish */

.numbers {
    @extend .presentation;
    margin: 100px 0;
    height: auto;
    &-container {
        @include flex(row, space-between, center, null, null);
        width: 86%;
        height: auto;
        &__block {
            @include flex(column, null, null, null, null);
            width: 310px;
            height: auto;
            &-top {
                padding: 0 0 20px 0;
                font-size: map-get($sizes, h1-rp);
                font-weight: map-get($weights, xl);
                color: $blue;
            }
            &-center {
                font-size: map-get($sizes, xxl);
                font-weight: map-get($weights, sm);
                color: $secondaryBlack;
            }
            &-bottom {
                padding: 15px 0 0 0;
                font-size: map-get($sizes, md);
                font-weight: map-get($weights, sm);
                color: $secondaryBlack;
            }
        }
    }
}

/* article 2 media queries */

@media (max-width: 992px) {
    .numbers {
        margin: 30px 0 0 0;
        &-container {
        flex-direction: column;
        justify-content: null;
        align-items: start;
        &__block {
            margin: 0 0 20px 0;
            &-top {
                font-size: map-get($sizes, h1-rp);
                padding: 40px 0 0 0;
            }
            &-center {
                font-size: map-get($sizes, xl);
                padding: 15px 0 0 0;
            }
            &-bottom {
                padding: 15px 0;
            }
        }
    }
    }
    
}

@media (max-width: 576px) {
    .numbers-container__block {
        margin: 0 0 5px 0;
    }
    .numbers-container__block-top {
        font-size: map-get($sizes, h1-rp2);
    }
    .numbers-container__block-center {
        font-size: map-get($sizes, md);
    }
    .numbers-container__block-bottom {
        font-size: map-get($sizes, sm);
    }
}

/* finish */

.join {
    @extend .numbers;
    margin: 30px 0 0 0;
    &-container {
        width: 86%;
        height: auto;
        a {
            @include flex(row, space-between, center, 2rem, null);
            transition: 0.2s ease-in-out;
            &:hover svg {
                transform: rotate(0deg);
            }
            &:hover span {
                text-decoration: underline;
                text-decoration-color: $blue;
            }
            h2 {
                font-size: map-get($sizes, h1-rp);
                color: $secondaryBlack;
                span {
                    transition: 0.2s ease-in-out;
                }
            }
            svg {
                margin: 5px 0 0 0;
                color: $blue;
                transform: rotate(-45deg);
            }
        }
    }
}

/* article 3 media queries */

@media (max-width: 1220px) {
    .join-container a h2 {
        font-size: map-get($sizes, h1-rp2);
    }
}

@media (max-width: 867px) {
    .join-container a h2 {
        font-size: map-get($sizes, h1-rp3);
    }
}

@media (max-width: 780px) {
    .join-container a h2 {
        font-size: map-get($sizes, xxxl);
    }
    .join-container a svg {
        height: 60px;
    }
}

/* finish */
