/* variables */

$principalFont: "Inter", sans-serif;
$secondaryFont: "Roboto", sans-serif;
$principalBlack: #000000;
$secondaryBlack: #151515;
$white: #ffffff;
$gray: #f7f7f7;
$darkGray: #35343b;
$blue: #0056FF;
$lightBlue: #f0f6ff;
$green: #15971c;
$red: #d30000;
