/* variables */

$principalFont: "Inter", sans-serif;
$black: #111111;
$white: #ffffff;
$blue: #133891;
$lightBlue: #00adcc;
$orange: #fb4f0a;
$green: #06881d;
$red: #b90000;
$grey: #fcfafa;
$darkGrey: #f7f7f7;
$gray: #c0c0c0;
$darkGray: #1b1b1b;
$shadow: rgba(0, 0, 0, 0.050);
