/* variables */

$principalFont: "Inter", sans-serif;
$secondaryFont: "Roboto", sans-serif;
$principalBlack: #000000;
$secondaryBlack: #151515;
$white: #ffffff;
$gray: #f7f7f7;
$darkGray: #b9b9b9;
$darkGrayB: #f3f3f3;
$grayB: #e8f5ff;
$alternativeBlue: #eff4ff;
$blue: #0056ff;
$lightBlue: #f4f9fd;
$green: #15971c;
$red: #d30000;
$yellow: #ddda3e;
$shadow: rgba(53, 53, 53, 0.30);
